<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./tests/bootstrap.php" colors="true" verbose="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src/conditions</directory>
      <directory suffix=".php">./src/models</directory>
      <directory suffix=".php">./src/recurrence/transformers</directory>
    </include>
    <exclude>
      <directory suffix=".php">/path/to/files</directory>
      <file>./tests/TestCase.php</file>
    </exclude>
    <report>
      <html outputDirectory="./tests/log/report" lowUpperBound="35" highLowerBound="70"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Test Suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <testdoxHtml outputFile="./tests/log/testdox.html"/>
  </logging>
</phpunit>
